* {
  margin: 0;
  padding: 0;
}
#root {
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 3%;
  background-color: lightgray;
}

ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4%;
}
li {
  list-style: none;
}

a {
  text-decoration: none;
}
